.page-section {

    width: 100%;
    height: 100vh;
    background-color: var(--amarelo-principal-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-section img {
    width: 20rem;
  }
  
  .text-info {
    width: 100vw;
    text-align: center;
  }
  
  .text-info h1 {
    font-size: 2.4rem;
    padding: 20px;
    color: var(--azul-escuro-color);
  }
  
  @media (min-width: 900px) {
    .page-section {
      display: flex;
      flex-direction: row;
    }
  
    .page-section img {
      width: 40rem;
    }
  
    .text-info {
      width: 35rem;
    }

    .text-info h1 {
      font-size: 3rem;
      
    }
  }
  