.container-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../assets/background-login.jpeg) no-repeat;
    background-size: cover;
}
.box-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,.7);

}

.title-login {
    color: #fff;
    font-size: 1.3rem;
}

.description-login {
    margin-top: 1rem;
    color: #fff;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    
}
.input-form {
    width: 20rem;
    padding: 20px;
    border: none;
    outline: none;
}
.input-password {
    margin-top: 1rem;

}
.input-form::placeholder {
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
}
.error {
    color: #fff;

}

.btn-form {
    display: inline-block;
    background: #A3679A;
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
    padding: 13px;
    margin: 2rem auto 0;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    outline: none;
}
.btn-form:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.5s;
}

.box-sucesso {

    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,.7);

}

.title-sucesso {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.descricao-sucesso {
    color: #fff;
    font-size: 1.2rem;
    padding: 3px;
}

.true-sucesso {
    display: flex;
}

.login-close {
    display: none;
}

.return-home {
    display: inline-block;
    background: #A3679A;
    width: 12rem;
    height: 3rem;
    padding: 13px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 3px;
    
}

@media (min-width: 700px) {
    .title-login{
        font-size: 2rem;
    }
}