.info {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background: #E9DEFF;
}
.image-superWoman {
    width: 300px;
    margin-top: 1rem;
}

.title-info {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #A3679A;
}
.box-info {
    margin: 2rem 2rem 0;
}
.paragraph-info {
    padding: 20px 30px;
    font-size: 1.2rem;
    color: #544F77;
    font-weight: 600;
}
.span-info {
    text-transform: lowercase;
}
.btn-info {
    display: inline-block;
    background: transparent;
    width: 12rem;
    height: 3rem;
    padding: 13px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #A3679A;
    letter-spacing: 1px;
    border-radius: 3px;
    border: 2px solid #fff;
    border: 1px solid #A3679A;
}
.btn-info:hover {
    background: #A3679A;
    color: #fff;
    transition: all 0.5s linear;
}


@media (min-width: 700px) {
    .info {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .image-superWoman {
        width: 30rem;
    }
    .box-info {
        display: flex;
        flex-direction: column;
    }
    .title-info {
        font-size: 3rem;
        text-align: left;
    }
    .paragraph-info {
        text-align: left;
        padding-left: 0;
        width: 20rem;
    }
    .btn-info {
        margin-top: 1rem;
    }
}
@media (min-width: 1070px) {
    .title-info {
        font-size: 3.5rem;
    }
    .paragraph-info {
        width: 30rem;
    }
}