
.section-guia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--amarelo-principal-color);
    
}
.title-guia {
  margin-top: 5rem;
  color: var(--letras-color);
  font-size: 1.8rem;
}
.main-box {
  margin: 2rem 0 0 0;
  height: 100%;
}
.box-guia {
    background: var(--letras-brancas-color);
    width: 18rem;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
  }
  .box-guia-style {
    background: var(--letras-brancas-color);
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
  .paragraph-guia {
    padding: 0 20px;
    color: var(--letras-color);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .link-guia {
    display: inline-block;
    background: var(--roxo-principal-color);
    width: 12rem;
    height: 3rem;
    padding: 13px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--letras-brancas-color);
    letter-spacing: 1px;
    border-radius: 3px;
    border: 2px solid #fff;
  }

  .link-guia:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.9);
    transition: 0.5s;
    opacity: 0.8;
  }

  @media (min-width: 700px) {
    .main-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
    }
    .box-guia {
      margin-top: 0;
      margin-bottom: 0;
      height: 60vh;
      width: 20rem;
    }

    .paragraph-guia {
      font-size: 1.2rem;
    }
    .title-guia {
      font-size: 2.1rem;
      letter-spacing: 2px;
      font-size: 3rem;
    }
    @media (min-width: 1060px) {

    }
  }
  