
.section-guia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.box-guia {
    background: #ae8cbb;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .box-guia-style {
    background: #24285B;
  }
  .paragraph-guia {
    padding: 0 10px;
    width: 20rem;
  }
  
  .link-guia {
    display: inline-block;
    background: #FFC864;
    width: 12rem;
    height: 3rem;
    padding: 13px;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #24285B;
    letter-spacing: 1px;
    border-radius: 3px;
  }