* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-section {
  width: 100vw;
  height: 90vh;
  background: #d789d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section h2 {
  font-size: 1.7rem;
  color: #562349;
}

.about-section p {
  padding: 10px 10px;
  font-size: 1.2rem;
  color: #252525;
}


@media (min-width: 900px) {
  .about-section p {
    width: 60vw;
  }
}

