
.about-section {

  width: 100%;
  height: 90vh;
  
  background: #FA9F91;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section h2 {

  font-size: 1.7rem;
  color: #1A3059;
  font-weight: bold;

  margin-bottom: 2.5rem;

}

.about-section #girls {
  text-transform: uppercase;
  color: #1A3059;
  font-weight: bold;
}

.about-section #code {
  color:#1A3059;
  font-weight: bold;
}

.about-section #enfase {
  text-transform: uppercase;
  color: #1A3059;
  font-weight: bold;
}

.about-section p {

  padding: 10px 25px;
  font-size: 1.2rem;
  color: #2C2637;

}


@media (min-width: 900px) {
  .about-section p {
    width: 60vw;

    font-size: 1.7rem;


  }

  .about-section h2 {
    font-size: 3rem;

    margin-bottom: 5rem;
  }  

  .first-text {
    margin-bottom: 1.5rem;
  }

}

