.container-profe {
    width: 100%;
    background-color: #ffc864;
    padding: 20px;
}

.container-profe ul li {
    list-style: none;
}

.profe-text h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    color: #1A3059;
}

.more-info {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}

.profe-text p {
    margin: 5px;
    font-size: 1.2rem;
    color: #2C2637;
}

.profe-list ul {
    margin: 30px 0px 10px 0px;
}

.profe-list ul li {
    color: #2C2637;
    margin: 5px 0px 10px 0px;
}

.profe-list ul li h3 {
    margin: 0px 0px 15px 0px;
    font-size: 1.2rem;

    background-color: #855298;
    color: #ffc864;

    border-radius: 25px;

    height: 2.3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profe-list ul li p {
    padding: 10px 0;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
}

@media (min-width: 900px) {
    .profe-text h2 {
        font-size: 2.5rem;
    }

    .profe-list {

        margin: 0 auto;
    }

    .profe-list ul li h3 {
        font-size: 1.2rem;
        margin: 20px;
    }

    .profe-list ul {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
        
    }

    .profe-list ul li p {

        width: 30rem;
        margin: 10px;
    }

    .more-info {
        font-size: 1.2rem;
        
    }
}