.header {
    background-color: #A3679A;
    
  
    width: 100%;
    height: 4rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.1rem;
    padding: 10px;

    position: fixed;
    z-index: 1;
    
  }
  .navegation {
    margin-right: 3rem;
  }

  .navegation ul li {
      margin: 0.2rem;
      list-style: none;
      
  }
  
  .logo-header {
    width: 7rem;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
  }


  /* estilo do menu hamburguer */
  
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu {
    border-radius: 50%;
  
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: absolute;
    right: 25px;
    top: 9px;
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 2px;
  
    z-index: 2;
  }
  
  .menu-btn {
    position: relative;
    top: 19px;
    left: 10.5px;
    width: 20px;
    height: 2px;
    background: #fff;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;

  }
  
  .menu-btn:after,
  .menu-btn:before {
    background: #fff;
    content: "";
    display: block;
    transition: 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .menu-btn:before {
    top: -10px;
  }
  
  .menu-btn:after {
    bottom: -10px;
  }
  
  .navegation input {
    display: none;
  }

  /* menu abrindo */
  
  input:checked ~ label .menu-btn {
    transform: rotate(45deg);
  }
  
  input:checked ~ label .menu-btn:after {
    transform: rotate(90deg);
    bottom: 0;
  }
  
  input:checked ~ label .menu-btn:before {
    transform: rotate(90deg);
    top: 0;
  }

  input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #855298, 0 0 0 130vh #855298;
}
  
  input:checked ~ ul {
    opacity: 1;
    visibility: visible;
  }

  /* menu fechando */ 
  .navegation ul li:active {
    visibility: hidden;
  }

  

  /*fim da ação */
  
  .navegation ul {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 1.1rem;
    opacity: 0;
    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2;
  }
  
  .links-header {
    color: #fff;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    transition: all 0.3s;
  }

 

  @media (min-width: 900px) {

      .header {
          padding: 0;
          
      }

      .navegation ul li {
          margin: 25px;
          
      }
      .menu,
      .menu-btn,
      #nav-bar {
        
        cursor: default;
        visibility: hidden;
      }

      /* faz o menor normal aparecer no desktop */

      .navegation ul {
        visibility: visible;
        position: static;
        opacity: initial;
        transform: none;
        display: flex;
        margin-top: 13px;
      }
      .links-header:hover {
        color: #E9DEFF;
      }
      .list-links {
        color: #FFF;
        transition: all 0.3s;
        position: relative;
      }
      .list-links::before {
        content: '';
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-bottom-color: rgba(255,255,255,0.5);
        transform: scale(0.1, 1);
      }
    
      .list-links:hover::before {
        opacity: 1;	
        transform: scale(1, 1);	
      }
      .list-links::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        transition: all 0.3s;
      }
      .list-links:hover::after {
        opacity: 0;	
        transform: scale(0.1, 1);
      }
  }
  
 