.container-areas {

    width: 100%;
    background-color: #2d3161;
    color: #ffc864;
    
}

.container-areas ul li {

    list-style: none;
    

    width: 20rem;

    margin: 15px auto auto auto;
}
.container-areas h2 {
    font-size: 2rem;
}
.container-areas img {
    width: 20rem;
}

.backend,
.frontend {
        padding: 30px;
    }

.frontend {

    text-align: center;

}

@media (min-width: 900px) {

    .container-areas {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container-areas img {
      width: 30rem;
    }

    .backend,
    .frontend {
        margin: 0px 0 50px 0;
    }

    .container-areas ul li {
        font-size: 1.1rem;
    }
}