
.container-areas {
    width: 100%;
    background-color: #2d3161;
    color: #ffc864;
}

.container-areas ul li {
    list-style: none;
    width: 20rem;
    margin: 15px auto;
    padding: 5px 10px;
    font-size: 1rem;
}

.container-areas h2 {
    font-size: 1.7rem;
}

.container-areas img {
    width: 20rem;
}


@media (min-width: 900px) {

    .container-areas {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .container-areas img {
      width: 20rem;
    }


    .backend,
    .frontend {
        margin: 0 40px;
    }

    .container-areas ul li {
        font-size: 1.1rem;
    }
}