
  .footer {
    background-color: #855298;
    color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    height: 30rem;
  }
  .box-imageFooter {
    margin-bottom: 2rem;
    display: flex;
    margin-left: 3rem;
  }
  .container-footer {
    margin-top: 1rem;
    margin-left: 3rem;

  }

  .box-sobreNos {
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title-footer {
    font-size: 1.2rem;
    color: #24285B;
  }

  .link-sobre {
    margin-top: 1rem;
    color: #FFC864;
  }

.box-contato {
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  color: #FFC864;
}

.paragraph-footer {
  margin-top: 1rem;
}
  
.span-copy {
  margin-top: 1.5rem;
  color: #24285B;
}
  
  