
  .footer {
    background-color: #A3679A;
    color: antiquewhite;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30rem;
  }
  .box-imageFooter {
    margin-bottom: 2rem;
    display: flex;
  }
  .container-footer {
    margin-top: 1rem;
    margin-left: 3rem;

  }

  .box-sobreNos {
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title-footer {
    font-size: 1.2rem;
    color: #FFC864;
  }
  .title-footer:hover {
    opacity: 0.8;
  }

  .paragraph-sobre {
    margin-top: 1rem;
    color: #fff;
  }

.box-contato {
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  color: #fff;
}

.paragraph-footer {
  margin-top: 1rem;
}
  
.span-copy {
  margin-top: 1.5rem;
  color: #fff;
}
.box-connections {
  display: none;
  width: 20rem;
}
.image-connections {
  width: 20rem;
}
.title-connections {
  margin-top: 2rem;
  color: #FFC864;
}
.main-container-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.heart-icon {
  width: 16px;
  vertical-align: middle;
}
  
@media (min-width: 700px) {
  .footer {
    align-items: center;
  }
  .box-connections {
    display: flex;
    margin-right: 3rem;
    flex-direction: column;
  }
 
}
  