.cursos-area {
    width: 100%;
    height: 100%;
    background: #ffc864;
  }

  .cursos-text p {
    padding: 1rem;
  }
  
  .cursos-text h2 {
    font-size: 1.7rem;
    padding: 10px;
  }

  .lista-cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .cursos-text {
    color: #2C2637;
    padding: 1rem;
  }
  
  .lista-cursos button {
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    height: 2.5rem;
    width: 12rem;
    outline: none;
    background: #855298;
  }

  .lista-cursos button a span {
    color: #00ced1;
  }

  .lista-cursos button a {
    color: thistle;
  }
  

  
  @media (min-width: 800px) {
    .cursos-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .lista-cursos {
      width: 50%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: initial;
  
    }

    .lista-cursos button {
      margin: 10px 10px;
    }
  
    .cursos-text {
      width: 60%;
      margin: 0 auto;
    }
  }
  