.grupe-container {
    width: 100%;
    background-color: #FFC864;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grupe-text {
    width: 90%;
}

.grupe-text h2 {
    font-size: 1.6rem;
    margin: 2rem 0 0;
    color: #2C2637;
}

.grupe-text p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 2rem 0 0;
    color: #2C2637;
    font-weight: 500;
}

.rotine-info span {
    text-transform: uppercase;
    
}

.rotine-info {
    font-weight: bold;
    color: #1A3059;

}
.btn-grupes {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    align-items: center;
    justify-content: center;
}

.first-btn-grupes,
.second-btn-grupes {
    

    padding: 1rem;
}

.links-groups {

    width: 10rem;
    height: 3rem;
    border-radius: 3px;
    margin: 2rem auto;
    background-color: #3D3769;
    border: transparent;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px;

}

.btn-grupes p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2C2637;
}

.btn-grupes button:hover {
    background: transparent;
    border: 2px solid #1A3059;
    color: #1A3059;
    
}

@media (min-width: 900px) {
    .grupe-container {
        flex-direction: row;
        padding: 40px;
    }

    .grupe-text {
        width: 50%;
    }

    .btn-grupes {
        width: 50%;
    }
    .btn-grupes p {
        width: 25rem;
    }

    .grupe-text h2 {
        font-size: 2rem;
        margin: 0;
    }
 
}