.internet-area {
    width: 100%;

}

.internet-texto {
    text-align: center;
}

.internet-texto h2 {
    font-size: 1.7rem;
    padding: 10px;
}

.internet-texto p {
    font-size: 1.2rem;
    padding: 10px;

    color: #855298;;
}

.internet-video {
    padding: 30px 10px;
}

.internet-video p {
    font-size: 1.2rem;
    padding: 40px 10px;
}

@media (min-width: 900px) {
    .internet-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .internet-texto {
        width: 45rem;
        margin: 35px 0px 55px 0px;
        
    }

    .internet-texto h2 {
        font-size: 3rem;
    }

    .internet-texto p {
        margin: 25px 0px;
        font-size: 1.7rem;

        font-weight: bold;  
    }

    .internet-video {

        width: 50%;
        height: 50%;

        margin: 0px 0px 70px 0px;
    }

    .internet-video p {
        font-size: 1.5rem;
    }
}