.internet-area {

    width: 100%;
    


}

.internet-texto {
    text-align: center;
}

.internet-texto h2 {
    font-size: 2rem;
    padding: 10px;
}

.internet-texto p {
    font-size: 1.2rem;
    margin: 10px 7px 15px 7px;

    color: #855298;;
}

.internet-video {
    margin: 50px 7px 10px 7px;
}

.internet-video p {
    font-size: 1.2rem;
    margin: 50px 7px 0px 7px;
}

@media (min-width: 900px) {
    .internet-area {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .internet-texto {
        width: 45rem;
        margin: 0px 0px 55px 0px;
        
    }

    .internet-texto h2 {
        font-size: 3.5rem;
        padding: 0;
    }

    .internet-texto p {
        margin: 25px 0px 0px 0px;
        font-size: 1.3rem;

        
    }
    .internet-video {

        width: 50%;
        height: 50%;

        margin: 0px 0px 70px 0px;
    }
}