.internet-area {
    width: 100%;
    background: #E9DEFF;

}

.internet-texto {
    text-align: center;
}

.internet-texto h2 {
    font-size: 1.7rem;
    padding-top: 3rem;
    color: #1A3059;
}

.internet-texto p {
    padding: 20px;
    font-size: 1.2rem;
    color: #855298;
}

.internet-video {
    padding: 30px 10px;
}

.internet-video p {
    font-size: 1.2rem;
    padding: 40px 10px;
    color: #2C2637;
}

@media (min-width: 900px) {
    .internet-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .internet-texto {
        width: 45rem;
        
    }

    .internet-texto h2 {
        font-size: 2.5rem;
    }

    .internet-texto p {
        font-size: 1.7rem;
        font-weight: bold;  
    }

    .internet-video {

        width: 50%;
        height: 50%;

        margin: 20px;
    }

    .internet-video p {
        font-size: 1.5rem;
    }
}