* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Rubik',sans-serif;
}

code {
  font-family: 'Rubik',sans-serif;
}
