* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,body {
  width: 100%;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  scroll-behavior: smooth;
}

code {
  font-family: 'IBM Plex Sans', sans-serif; 
}
