.slider {
    background: purple;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.carrosel {
    width: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-dados {
    width: 15rem;
}

.descriçao-img {
    padding: 0 30px;
}

.countainer-btn {
    margin-top: 10px;
}

.btn {
    width: 5rem;
    height: 2rem;
}